/* 
  
  .category-button {
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    border: 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    font-weight: 600;
  }
  
  .category-button:hover {
    background-color: #58a6ff8f;
  }
  
  .category-button.active {
    background-color: #58a6ff8f;
    background-color: #1f6dc0;
  } */

  
  .education-timeline-section h1{
   text-align:center
  }